!   anti-phising.txt
!     By: PatoFlamejanteTV

||*cdn*^$all
||*track*^$all
||*log*^$all
!||*ad*^$doc !remove the exclamation at the strat ONLY if you dont use youtube
||*click*^$all
||*bet*^$all
||*embed*^$all
!||*track*^$all
||*xiaomi*^$all
||*miui*^$all
||*amazonaws*^$all
||*analytics*^$all
||*casino*^$all
